<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Author</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular.js"></script>

    <script src="./js/author.js"></script>
    <link rel="stylesheet" href="./css/bootstrap.css">
    <link rel="stylesheet" href="./css/app.css">

    <head>
<body ng-app="AuthorManagement" ng-controller="AuthorController">
<div style="background-color: lightgoldenrodyellow;height: 120px">
    <input align="left" type="image" src="image/logo.jpg" name="q" style="width:200px;height:120px">
    <a href="/" class="btn btn-success">Home</a>
    <a href="/user" class="btn btn-success">User</a>
    <a href="/book" class="btn btn-success">Book</a>
    <a href="/account" class="btn btn-success">Account</a>
    <a href="/author" class="btn btn-success">Author</a>
    <a href="/employee" class="btn btn-success">Employee</a>
    <a href="/bill" class="btn btn-success">Bill</a>
    <a href="/detail" class="btn btn-success">Bill Detail</a>
    <a href="/genre" class="btn btn-success">Genre</a>
    <a href="/provider" class="btn btn-success">Provider</a>
    <a href="/publisher" class="btn btn-success">Publisher</a>
    <h3>
        Author Manager
    </h3>
</div>

<form ng-submit="submit();" ng-show="aut.id != null">

    <table border="1">
        <tr ng-show="aut.id != -1">
            <td>Author Id</td>
            <td>{{aut.id}}</td>
        </tr>
        <tr>
            <td>Author Name</td>
            <td><input type="text" ng-model="aut.name"/></td>
        </tr>

        <tr>
            <td>Note</td>
            <td><input type="text" ng-model="aut.note"/></td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" value="Submit" class="blue-button"/>
            </td>
        </tr>
    </table>
</form>

<a class="btn btn-success" ng-click="addAuthor();">Create Author</a>
<br/>
<table border="1">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Note</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    <!-- $scope.employees -->
    <tr ng-repeat="author in authors">
        <td> {{ author.id }}</td>
        <td> {{ author.name }}</td>
        <td>{{ author.note }}</td>

        <td>
            <a ng-click="edit(author)" class="edit-button">Edit</a>
        </td>
        <td>
            <a ng-click="delete(author)" class="delete-button">Delete</a>
        </td>
    </tr>
</table>
<br>
</body>
</html>